apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: custom-prometheus-rules
  namespace: default
spec:
  groups:
    - name: example.rules
      rules:
        - alert: HighCPUUsage
          expr: sum(rate(container_cpu_usage_seconds_total[5m])) by (pod) > 0.8
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: "High CPU usage detected for pod {{ $labels.pod }}"
